[data-darkMode="true"] {
  --primary: #00d689;
  --white: #fff;

  --background: #313131;
  --background-inset: #4f4f4f;

  --border: #cbcbcb;

  --gray: #dcdcdc;
  

  --error: #FF4848;
  --error-background: #faa1a140;
  
  --text-input: #e0e0e0;
}

[data-darkMode="false"] {
  --primary: #00d689;
	--primary-hover: #00bd78;
  --white: #fff;
	--green: #00a81f;
	--green-background: #00a81f30;
	--orange: #ffa600;
	--red: #FF4848;

  --background: #fff;
  --background-inset: #f6f6f6;

  --border: #cbcbcb;

  --gray: #5c5c5c;
	--gray-light: #f3f3f3;
	--gray-light-hover: #e6e6e6;
  

  --error: #FF4848;
  --error-background: #faa1a12d;
  
	--text-primary: #282828;
	--text-subtext: #636363;
  --text-input: #393939;
}
