@mixin auth-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;

  padding: toRem(16);

  h1 {
    margin: 0;
    margin-bottom: toRem(16);
    @include body-large;
  }
  
  p {
    margin: 0;
    margin-bottom: toRem(4);
    color: var(--gray);
  }
	
	.request-error {
		margin-bottom: toRem(4);
	}

  .button-container {
    padding: toRem(10) 0;
    display: flex;

    justify-content: space-between;
    gap: 8px;
  }
	
  @include breakpoint(desktop) {
    padding: toRem(16) toRem(64);
		justify-content: center;
  }
}