// Contains styles used across the application in the form of mixins

@mixin squared-button {
	width: toRem(40);
	height: toRem(40);
	display: flex;
	justify-content: center;
	align-items: center;
	
	padding: 0;
	background-color: transparent;
	
	@include regular-semibold;
	font-size: toRem(20);

	border: 1px solid transparent;
	border-radius: 8px;
	
	svg {
		pointer-events: none;
	}
	
	&:hover {
		cursor: pointer;
		background-color: var(--background-inset);
		border-color: var(--border);
	}
}

@mixin button {
	width: 100%;
	padding: toRem(8);
	border: 1px solid var(--border);
	border-radius: 8px;

	background-color: transparent;

	font-weight: 700;
	font-size: toRem(16);
	color: var(--text-primary);
	
	&.primary {
		background-color: var(--primary);
		color: var(--white);

		border-color: transparent;
		
		&:hover {
			background-color: var(--primary-hover);
		}
	}
	
	&:hover {
		background: var(--background-inset);
	}
}


@mixin drop-shadow() {
  box-shadow: 0 0 5px #0000003e;
}

@mixin modal-form {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 5;

	backdrop-filter: blur(2px);
	background-color: rgba(#000000, 0.25);

	display: flex;
	justify-content: center;
	align-items: center;


	.overview {
		max-width: calc(100% - 32px);
		padding: toRem(16);
		background-color: var(--background);

		border: 1px solid var(--border);
		border-radius: 8px;

		.top-section {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.close-button {
				margin-left: toRem(16);
				@include squared-button;
				font-size: toRem(24);
				flex-shrink: 0;
			}

			.complete-status {
				flex-shrink: 0;
			}

			input {
				margin: 0;
				width: 100%;
				@include body-large;

				border: none;
				border-bottom: 2px solid transparent;

				&:focus {
					outline: none;
					border-bottom-color: var(--border);
				}
			}
		}

		.details {
			textarea {
				resize: vertical;
				max-height: toRem(200);
			}

			.complete-status {
				width: fit-content;
				display: block;
				padding: toRem(8);

				border: 1px solid var(--border);
				border-radius: 8px;

				@include regular-semibold;

				&.complete {
					color: var(--green);
					border-color: var(--green);
				}

				&:hover {
					cursor: pointer;
				}
			}
		}

		.delete-container {
			@include body-small;
			margin-bottom: toRem(10);

			.options {
				display: flex;
				align-items: center;
				gap: toRem(8);

				.delete-button {
					width: fit-content;
					display: block;
					padding: toRem(8);
					@include regular-semibold;

					background-color: var(--error-background);
					color: var(--error);
					border: 1px solid var(--error);
					border-radius: 8px;


				}

				button:not(.delete-button) {
					@include squared-button;
				}
			}
		}

		@include breakpoint(tablet) {
			min-width: toRem(450);
		}

		@include breakpoint(desktop) {
			min-width: toRem(600);
		}
	}
}


@mixin tag-chip {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: toRem(4) toRem(8);
	border: 1px solid var(--border);
	border-radius: 8px;
	transition-property: border-color, background-color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	
	font-size: toRem(14);
}