@mixin text-input {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 8px;

    font-size: 1rem;
    padding: toRem(8);

    background-color: var(--background);
    
    color: var(--text-input);

    &:focus {
        border: 1px solid var(--primary);
        outline: 1px solid var(--primary);
    }

    &.error {
        background-color: var(--error-background);
        color: var(--error);

        &:focus {
            border-color: var(--error);
						outline-color: var(--error);
        }
    }
}

@mixin number-input {
	width: toRem(80);
	border: none;

	font-size: 1rem;
	padding: toRem(8);

	background-color: var(--background);

	color: var(--text-input);
}