@mixin text-input {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: 8px;

    font-size: 1rem;
    padding: toRem(8);

		background-color: transparent;
    
    color: var(--text-input);

    &.focus, &:focus {
        border: 1px solid var(--primary);
        // outline: 1px solid var(--primary);
				box-shadow: 0 0 0 2px var(--primary);
		}

    &.error {
        background-color: var(--error-background);
        color: var(--error);

        &.focus, &:focus{
            border-color: var(--error);
						outline-color: var(--error);
        }
				
				button {
					&:hover {
						background: transparent;
					}
				}
    }
		
		
		button {
			display: block;
			padding: 0 toRem(16);
			border: none;
			border-left: 1px solid transparent;
			border-radius: 0;
			background-color: transparent;

			@include regular-semibold;
			font-size: toRem(20);

			&:hover {
				border: none;
				border-left: 1px solid var(--border);
				background-color: var(--background-inset);
			}
		}
}

@mixin number-input {
	width: toRem(80);
	border: none;

	font-size: 1rem;
	padding: toRem(8);

	background-color: var(--background);

	color: var(--text-input);
}